/* line 5, ../../../../../../../../../var/lib/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../var/lib/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../var/lib/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../var/lib/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../var/lib/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../var/lib/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../var/lib/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../var/lib/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../var/lib/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../partials/_Button.scss */
.btn {
  background: #5cdb7b;
  border-radius: 10%;
}
/* line 5, ../partials/_Button.scss */
.btn:hover {
  background: #2ac94f;
  cursor: pointer;
}

/* line 1, ../partials/_Dropdown.scss */
.dropdown-container {
  width: auto;
  margin: 0 2%;
}
/* line 5, ../partials/_Dropdown.scss */
.dropdown-container div {
  display: inline-block;
}

/* line 10, ../partials/_Dropdown.scss */
.dropdown-container:first-child {
  margin: 0 10% 0 6%;
}

/* line 1, ../partials/_EmailBlock.scss */
.mainBlock {
  width: auto;
  height: 100%;
  background: #007;
  overflow: hidden;
  z-index: 1;
}

/* line 9, ../partials/_EmailBlock.scss */
.emailList {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
  border-collapse: collapse;
}
/* line 16, ../partials/_EmailBlock.scss */
.emailList colgroup .select {
  background: yellow;
  width: 2em;
}
/* line 20, ../partials/_EmailBlock.scss */
.emailList colgroup .emailName {
  width: 12em;
}
/* line 23, ../partials/_EmailBlock.scss */
.emailList colgroup .emailTitle {
  width: 100%;
}
/* line 26, ../partials/_EmailBlock.scss */
.emailList colgroup .whiteSpace {
  width: 7em;
}
/* line 29, ../partials/_EmailBlock.scss */
.emailList colgroup .dateTag {
  width: 10em;
}
/* line 36, ../partials/_EmailBlock.scss */
.emailList tbody .email {
  background: none;
  color: green;
  cursor: pointer;
}
/* line 41, ../partials/_EmailBlock.scss */
.emailList tbody .email td {
  text-align: center;
  border-bottom: solid thin;
}
/* line 46, ../partials/_EmailBlock.scss */
.emailList tbody .email .email-title-body {
  overflow: hidden;
}
/* line 49, ../partials/_EmailBlock.scss */
.emailList tbody .email .email-title-body span:nth-child(2) {
  color: grey;
  opacity: .4;
}

/* line 3, ../partials/_Header.scss */
.header {
  background: blue;
  height: 4rem;
  width: 100%;
}
/* line 8, ../partials/_Header.scss */
.header .logo {
  background: red;
  height: 100%;
  width: 12rem;
  float: left;
}
/* line 14, ../partials/_Header.scss */
.header .logo div {
  background: #fff;
  height: inherit;
  width: 60%;
  margin: auto;
}

/* line 24, ../partials/_Header.scss */
.navRight {
  background: red;
  position: relative;
  height: 100%;
  width: 12rem;
  float: right;
}

/* line 32, ../partials/_Header.scss */
.dropdown-group {
  height: 80%;
  width: 80%;
  position: absolute;
  display: block;
  top: 25%;
  left: 10%;
  margin: auto;
}

/* line 43, ../partials/_Header.scss */
.dropdown {
  background: blue;
  margin: 0 2%;
  display: inline-block;
  float: right;
}

/* line 1, ../partials/_SearchForm.scss */
.searchForm {
  background: red;
  position: relative;
  height: 100%;
  overflow: hidden;
}
/* line 7, ../partials/_SearchForm.scss */
.searchForm form {
  position: absolute;
  top: 30%;
  height: 50%;
  width: 100%;
}
/* line 13, ../partials/_SearchForm.scss */
.searchForm form input {
  height: auto;
  width: 60%;
  border-color: grey;
}
/* line 18, ../partials/_SearchForm.scss */
.searchForm form input:hover {
  border-color: #000;
}
/* line 21, ../partials/_SearchForm.scss */
.searchForm form input:focus {
  border-color: #000;
}
/* line 26, ../partials/_SearchForm.scss */
.searchForm form .btn {
  height: 1.6em;
  width: 3em;
}

/* line 1, ../partials/_Sidebar.scss */
.sideBar {
  background: #ddd;
  height: 100vh;
  width: 12rem;
  float: left;
}

/* line 8, ../partials/_Sidebar.scss */
.center {
  background: pink;
  position: relative;
  height: 2rem;
}
/* line 13, ../partials/_Sidebar.scss */
.center button[name="compose"] {
  height: 100%;
  width: 70%;
  position: absolute;
  left: 15%;
}

/* line 3, ../partials/_SubNav.scss */
.subNav {
  height: 3.5rem;
  position: relative;
  width: 100%;
  background: green;
}
/* line 9, ../partials/_SubNav.scss */
.subNav .subNav__left, .subNav .subNav__right {
  background: #eee;
  position: relative;
  height: 100%;
}
/* line 15, ../partials/_SubNav.scss */
.subNav .subNav__left {
  width: 30rem;
  float: left;
}
/* line 19, ../partials/_SubNav.scss */
.subNav .subNav__right {
  width: 20rem;
  float: right;
}

/* line 25, ../partials/_SubNav.scss */
.dropdown-container, .refresh {
  display: inline-block;
  position: relative;
  float: left;
  height: 2rem;
  width: 5rem;
  border: 1px solid grey;
  font-size: .8rem;
  padding: 3px;
  top: 15%;
}
/* line 36, ../partials/_SubNav.scss */
.dropdown-container .emailViews, .dropdown-container .selection, .dropdown-container .moreOptions, .dropdown-container .inputTools, .dropdown-container .settings, .refresh .emailViews, .refresh .selection, .refresh .moreOptions, .refresh .inputTools, .refresh .settings {
  display: inline-block;
  height: 60%;
  width: 80%;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15% 0 0 -40%;
}
/* line 49, ../partials/_SubNav.scss */
.dropdown-container:hover, .refresh:hover {
  cursor: pointer;
}

/* line 54, ../partials/_SubNav.scss */
.drop__focus {
  background: gold;
  cursor: default;
}

/* line 61, ../partials/_SubNav.scss */
.dropdownContent {
  background: gold;
  border: 2px solid grey;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
  font-size: 0.90rem;
  line-height: 0.5rem;
  text-align: left;
  position: absolute;
  top: 2rem;
  z-index: 5;
  cursor: default;
}

/* line 78, ../partials/_SubNav.scss */
.emailViews__dropdown {
  right: -35px;
}
/* line 81, ../partials/_SubNav.scss */
.emailViews__dropdown ol {
  padding: 0;
}
/* line 84, ../partials/_SubNav.scss */
.emailViews__dropdown ol li {
  padding: 0.5rem;
  padding-right: 3rem;
}
/* line 88, ../partials/_SubNav.scss */
.emailViews__dropdown ol li:hover {
  background: rgba(255, 255, 0, 0.8);
  cursor: pointer;
}

/* line 96, ../partials/_SubNav.scss */
.moreOptions__dropdown {
  right: -148px;
}
/* line 99, ../partials/_SubNav.scss */
.moreOptions__dropdown ol {
  padding: 0;
}
/* line 102, ../partials/_SubNav.scss */
.moreOptions__dropdown ol li {
  padding: 0.5rem;
  padding-right: 7rem;
  white-space: nowrap;
}
/* line 107, ../partials/_SubNav.scss */
.moreOptions__dropdown ol li:hover {
  background: rgba(255, 255, 0, 0.8);
  cursor: pointer;
}

/* line 115, ../partials/_SubNav.scss */
.selection__dropdown {
  right: -29px;
}
/* line 118, ../partials/_SubNav.scss */
.selection__dropdown ol {
  padding: 0;
}
/* line 121, ../partials/_SubNav.scss */
.selection__dropdown ol li {
  padding: 0.5rem;
  padding-right: 2rem;
  white-space: nowrap;
}
/* line 126, ../partials/_SubNav.scss */
.selection__dropdown ol li:hover {
  background: rgba(255, 255, 0, 0.8);
  cursor: pointer;
}

/* line 1, ../partials/_VerticalList.scss */
.verticalList {
  height: auto;
  width: 70%;
  margin: auto;
}
/* line 6, ../partials/_VerticalList.scss */
.verticalList ol {
  background: salmon;
  height: 100%;
  width: 100%;
}
/* line 11, ../partials/_VerticalList.scss */
.verticalList ol li {
  width: 80%;
  margin-top: .5rem;
}
/* line 15, ../partials/_VerticalList.scss */
.verticalList ol li:hover {
  background: #aeeaad;
  cursor: pointer;
}
/* line 21, ../partials/_VerticalList.scss */
.verticalList ol li:nth-child(1) {
  color: #5cdb7b;
}

/* line 14, ../sass/screen.scss */
body {
  height: 100%;
  width: 100%;
  min-width: 800px;
  background: #ddd;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
