html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.btn {
  background: #5cdb7b;
  border-radius: 10%;
}
.btn:hover {
  background: #2ac94f;
  cursor: pointer;
}

/*TODO: refactor dropdown code into here!*/
.dropdownContainer {
  display: inline-block;
  position: relative;
  max-height: 100%;
  max-width: 100%;
  font-size: .8em;
}
.dropdownContainer:hover {
  cursor: pointer;
}

.dropdownContent {
  background: gold;
  position: absolute;
  box-sizing: border-box;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
  line-height: 0.5em;
  font-size: 1.20em;
  border: 2px solid grey;
  top: 38px;
  z-index: 2;
  cursor: default;
}

.FOOgly {
  height: 100%;
  width: auto;
  overflow: hidden;
  z-index: 1;
}

.mainBlock {
  background: gold;
  height: auto;
  min-height: 50%;
}

.emailList {
  width: 100%;
  table-layout: fixed;
  white-space: nowrap;
  border-collapse: collapse;
}
.emailList colgroup .select {
  width: 2em;
}
.emailList colgroup .emailName {
  width: 12em;
}
.emailList colgroup .emailTitle {
  width: 100%;
}
.emailList colgroup .whiteSpace {
  width: 7em;
}
.emailList colgroup .dateTag {
  width: 10em;
}
.emailList tbody .email {
  background: none;
  color: green;
  border-bottom: thin solid green;
  cursor: pointer;
}
.emailList tbody .email td {
  text-align: center;
}
.emailList tbody .email .email-title-body {
  overflow: hidden;
}
.emailList tbody .email .email-title-body span:nth-child(2) {
  color: grey;
  opacity: .4;
}

.footer {
  display: block;
  height: 50%;
  width: auto;
  overflow: hidden;
  z-index: 1;
}

.footerContent {
  margin: auto;
}

.footerPiece {
  height: auto;
  width: Calc(100% / 3);
  float: left;
  text-align: center;
}
.footerPiece:first-child {
  text-align: left;
}
.footerPiece:last-child {
  text-align: right;
}

.footerPiece, .footer__inline {
  display: inline-block;
}

.footer__block, .footer__inline {
  font-size: .8em;
}

.footer__block {
  display: block;
}

.header {
  height: 60px;
}

.navPiece {
  background: orange;
  height: 100%;
  width: 180px;
}

.navLeft {
  float: left;
}
.navLeft div {
  background: #fff;
  height: inherit;
  width: 60%;
  margin: auto;
}

.navRight {
  float: right;
}

.headerDropdown {
  position: relative;
  height: 32px;
  width: 32px;
  margin-right: 5px;
}

.additionalApps, .notifications, .profileMenu {
  overflow: hidden;
  text-align: center;
  border: 3px solid #000;
  border-radius: 50%;
}
.additionalApps span, .notifications span, .profileMenu span {
  display: block;
  background: grey;
  font-size: 2.5em;
}

.profileMenu__dropdown {
  display: block;
  right: -50px;
  white-space: nowrap;
}

.profileSection {
  border-bottom: 1px solid grey;
  line-height: 25px;
  padding-right: 50px;
}
.profileSection:last-child {
  border: none;
}
.profileSection span {
  display: inline-block;
}

.profile {
  width: 200px;
  padding-right: 5%;
  border-bottom: 1px solid rgba(10, 10, 10, 0.2);
}
.profile:last-child {
  border: none;
}

.profileIcon {
  border: 3px solid #000;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
}

.centeredImg {
  max-width: 200%;
  max-height: 100%;
  margin: 0 -100%;
}

.searchForm {
  background: red;
  position: relative;
  height: 100%;
  overflow: hidden;
}
.searchForm form {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 30%;
}
.searchForm form input {
  height: auto;
  width: 60%;
  border-color: grey;
}
.searchForm form input:hover {
  border-color: #000;
}
.searchForm form input:focus {
  border-color: #000;
}
.searchForm form .btn {
  height: 1.6em;
  width: 3em;
}

.sideBar {
  background: violet;
  height: 100%;
  width: 200px;
  float: left;
}

.sideBar__button, .verticalList {
  width: 70%;
  margin: auto;
}

.sideBar__button {
  height: 33px;
}
.sideBar__button button[name="compose"] {
  height: 100%;
  width: 100%;
}

.sideBar__currentSelection {
  color: #5cdb7b;
  border-left: 7px solid #5cdb7b;
}

.sideBar__item {
  width: auto;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
}
.sideBar__item:hover {
  background: #aeeaad;
  cursor: pointer;
}

.subNav {
  height: 56px;
  position: relative;
  white-space: nowrap;
  border-top: solid thin green;
  border-bottom: solid thin green;
}

.subNavPiece {
  position: relative;
  height: 100%;
  white-space: nowrap;
}

.subNavLeft {
  float: left;
  margin-left: 27px;
  padding-right: 22px;
}
.subNavLeft .dropdownContainer:first-child {
  margin-right: 40px;
}

.subNavRight {
  float: right;
  margin-right: 2%;
  padding-right: 12px;
}
.subNavRight .dropdownContainer:last-child {
  margin-right: 0;
}

.subNavDropdown, .refresh, .pages, .languageConfig {
  background: #fff;
  box-sizing: border-box;
  height: 70%;
  width: 80px;
  border: 1px solid grey;
  margin: 0 1%;
}
.subNavDropdown.dropdown__focus, .refresh.dropdown__focus, .pages.dropdown__focus, .languageConfig.dropdown__focus {
  background: gold;
}

.refresh, .pages, .languageConfig {
  display: inline-block;
  position: relative;
}
.refresh:hover, .pages:hover, .languageConfig:hover {
  cursor: pointer;
}

.emailViews, .refresh__symbol, .selection, .moreOptions, .settings {
  display: inline-block;
  position: absolute;
  height: 60%;
  width: 80%;
  text-align: center;
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -40%;
}
.emailViews div, .refresh__symbol div, .selection div, .moreOptions div, .settings div {
  display: inline-block;
}

.refresh, .settings span {
  font-size: 1.5em;
}

.emailViews__dropdown ol li:hover, .selection__dropdown ol li:hover, .moreOptions__dropdown ol li:hover,
.inputTools__dropdown ol li:hover, .settings__dropdown ol li:hover {
  background: rgba(255, 255, 0, 0.8);
  cursor: pointer;
}

.emailViews__dropdown, .selection__dropdown, .moreOptions__dropdown {
  left: -2px;
}
.emailViews__dropdown ol li, .selection__dropdown ol li, .moreOptions__dropdown ol li {
  padding: 8px;
  padding-right: 65px;
}

.moreOptions__dropdown ol li {
  padding-right: 110px;
}

.inputTools__dropdown, .settings__dropdown {
  right: -2px;
}
.inputTools__dropdown ol li, .settings__dropdown ol li {
  padding: 8px;
  padding-right: 65px;
}

.settings__dropdown ol li {
  padding-right: 52px;
}
.settings__dropdown ol li:nth-child(4), .settings__dropdown ol li:nth-child(7) {
  margin-top: 24px;
}
.settings__dropdown ol li:nth-child(4) {
  margin-bottom: 24px;
}

.pages, .languageConfig {
  border: none;
  float: left;
}

.pages {
  width: 150px;
}
.pages .pageSort, .pages .pagination {
  display: inline-block;
  height: 100%;
  box-sizing: border-box;
}
.pages .pageSort {
  width: 70%;
  border: 1px solid grey;
  margin-right: -1px;
}
.pages .pagination {
  width: 30%;
}
.pages .pagination .progressArrow {
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  border: 1px solid grey;
  margin-right: -1px;
}
.pages .pagination .progressArrow:last-child {
  margin: 0;
}

.languageConfig {
  width: 70px;
}
.languageConfig .virtualKeyboard, .languageConfig .dropdownContainer {
  display: inherit;
  box-sizing: border-box;
  height: 100%;
  border: 1px solid grey;
  float: left;
}
.languageConfig .virtualKeyboard {
  width: 70%;
  margin-right: -1px;
}
.languageConfig .dropdownContainer {
  width: 30%;
}

body {
  width: 100%;
  min-width: 800px;
  background: #ddd;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

body, html {
  height: 100%;
}

#root {
  height: 100%;
  overflow: hidden;
}
