/* line 5, ../../../../../../../../../var/lib/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../var/lib/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../var/lib/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../var/lib/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../var/lib/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../var/lib/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../var/lib/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../var/lib/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../var/lib/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../partials/_Button.scss */
.btn {
  background: #5cdb7b;
  border-radius: 10%;
}
/* line 5, ../partials/_Button.scss */
.btn:hover {
  background: #2ac94f;
  cursor: pointer;
}

/*TODO: refactor dropdown code into here!*/
/* line 1, ../partials/_EmailBlock.scss */
.mainBlock {
  width: auto;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

/* line 9, ../partials/_EmailBlock.scss */
.emailList {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
  border-collapse: collapse;
}
/* line 16, ../partials/_EmailBlock.scss */
.emailList colgroup .select {
  width: 2em;
}
/* line 20, ../partials/_EmailBlock.scss */
.emailList colgroup .emailName {
  width: 12em;
}
/* line 23, ../partials/_EmailBlock.scss */
.emailList colgroup .emailTitle {
  width: 100%;
}
/* line 26, ../partials/_EmailBlock.scss */
.emailList colgroup .whiteSpace {
  width: 7em;
}
/* line 29, ../partials/_EmailBlock.scss */
.emailList colgroup .dateTag {
  width: 10em;
}
/* line 36, ../partials/_EmailBlock.scss */
.emailList tbody .email {
  background: none;
  color: green;
  cursor: pointer;
  border-bottom: thin solid green;
}
/* line 42, ../partials/_EmailBlock.scss */
.emailList tbody .email td {
  text-align: center;
}
/* line 46, ../partials/_EmailBlock.scss */
.emailList tbody .email .email-title-body {
  overflow: hidden;
}
/* line 49, ../partials/_EmailBlock.scss */
.emailList tbody .email .email-title-body span:nth-child(2) {
  color: grey;
  opacity: .4;
}

/* line 3, ../partials/_Header.scss */
.header {
  background: blue;
  height: 4rem;
  width: 100%;
}
/* line 8, ../partials/_Header.scss */
.header .logo {
  background: red;
  height: 100%;
  width: 12rem;
  float: left;
}
/* line 14, ../partials/_Header.scss */
.header .logo div {
  background: #fff;
  height: inherit;
  width: 60%;
  margin: auto;
}

/* line 24, ../partials/_Header.scss */
.navRight {
  background: red;
  position: relative;
  height: 100%;
  width: 12rem;
  float: right;
}

/* line 32, ../partials/_Header.scss */
.dropdown-group {
  position: relative;
  display: block;
  top: 25%;
  white-space: nowrap;
}
/* line 39, ../partials/_Header.scss */
.dropdown-group .dropdown-container {
  background: transparent;
  border: none;
  position: static;
  float: none;
  top: auto;
  width: auto;
}
/* line 47, ../partials/_Header.scss */
.dropdown-group .drop__focus > div:first-child {
  border-color: aqua;
}

/* line 52, ../partials/_Header.scss */
.dropdown {
  background: blue;
  display: inline-block;
  margin: 0 2%;
}

/* line 57, ../partials/_Header.scss */
.profileMenu, .notifications, .additionalApps {
  position: relative;
  border: 3px solid #000;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  bottom: 0.23em;
}
/* line 67, ../partials/_Header.scss */
.profileMenu > div img, .notifications > div img, .additionalApps > div img {
  max-height: 100%;
  max-width: 200%;
  margin: 0 -100%;
}
/* line 73, ../partials/_Header.scss */
.profileMenu > span, .notifications > span, .additionalApps > span {
  display: block;
  background: grey;
  font-size: 2rem;
}

/* line 80, ../partials/_Header.scss */
.profileMenu__dropdown {
  right: 50px;
}

/* line 84, ../partials/_Header.scss */
.profile__info {
  position: relative;
  white-space: nowrap;
  line-height: 1rem;
  text-align: left;
  border-bottom: 1px solid grey;
  padding: 2%;
}
/* line 92, ../partials/_Header.scss */
.profile__info:last-child {
  border: none;
}
/* line 96, ../partials/_Header.scss */
.profile__info span {
  height: 100%;
  display: inline-block;
  line-height: 1.25rem;
}
/* line 102, ../partials/_Header.scss */
.profile__info ol {
  width: auto;
  padding-right: 10rem;
}
/* line 106, ../partials/_Header.scss */
.profile__info ol li {
  width: 100%;
  position: relative;
  padding: inherit;
  border-bottom: 1px solid rgba(10, 10, 10, 0.2);
}
/* line 112, ../partials/_Header.scss */
.profile__info ol li:last-child {
  border: none;
}
/* line 116, ../partials/_Header.scss */
.profile__info ol li .profileIcon {
  height: 3rem;
  width: 3rem;
}
/* line 121, ../partials/_Header.scss */
.profile__info ol li > span:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1rem 0 0 -5rem;
}
/* line 131, ../partials/_Header.scss */
.profile__info .profileIcon {
  background: orange;
  position: static;
  border: 3px solid #000;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
}

/* line 144, ../partials/_Header.scss */
.profileIcon > img {
  max-width: 200%;
  max-height: 100%;
  margin: 0 -100%;
}

/* line 150, ../partials/_Header.scss */
.profile__info > span:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1rem 0 0 -2rem;
}

/* line 1, ../partials/_SearchForm.scss */
.searchForm {
  background: red;
  position: relative;
  height: 100%;
  overflow: hidden;
}
/* line 7, ../partials/_SearchForm.scss */
.searchForm form {
  position: absolute;
  top: 30%;
  height: 50%;
  width: 100%;
}
/* line 13, ../partials/_SearchForm.scss */
.searchForm form input {
  height: auto;
  width: 60%;
  border-color: grey;
}
/* line 18, ../partials/_SearchForm.scss */
.searchForm form input:hover {
  border-color: #000;
}
/* line 21, ../partials/_SearchForm.scss */
.searchForm form input:focus {
  border-color: #000;
}
/* line 26, ../partials/_SearchForm.scss */
.searchForm form .btn {
  height: 1.6em;
  width: 3em;
}

/* line 1, ../partials/_Sidebar.scss */
.sideBar {
  background: #ddd;
  height: 100vh;
  width: 12rem;
  float: left;
}

/* line 8, ../partials/_Sidebar.scss */
.center {
  position: relative;
  height: 2rem;
}
/* line 13, ../partials/_Sidebar.scss */
.center button[name="compose"] {
  height: 100%;
  width: 70%;
  position: absolute;
  left: 15%;
}

/* line 3, ../partials/_SubNav.scss */
.subNav {
  height: 3.5rem;
  position: relative;
  width: 100%;
  white-space: nowrap;
  border-top: solid thin green;
  border-bottom: solid thin green;
}
/* line 12, ../partials/_SubNav.scss */
.subNav .subNav__left, .subNav .subNav__right {
  position: relative;
  height: 100%;
  white-space: nowrap;
}
/* line 18, ../partials/_SubNav.scss */
.subNav .subNav__left {
  width: 29rem;
  float: left;
}
/* line 22, ../partials/_SubNav.scss */
.subNav .subNav__left .dropdown-container:first-child {
  margin: 0 10% 0 6%;
}
/* line 26, ../partials/_SubNav.scss */
.subNav .subNav__right {
  width: 40%;
  float: right;
}

/* line 37, ../partials/_SubNav.scss */
.dropdown-container, .refresh, .pages, .languageConfig {
  background: #fff;
  display: inline-block;
  position: relative;
  float: left;
  height: 2rem;
  width: 5rem;
  border: 1px solid grey;
  font-size: .8rem;
  margin: 0 1%;
  padding: 3px;
  top: 15%;
}
/* line 50, ../partials/_SubNav.scss */
.dropdown-container .emailViews, .dropdown-container .refresh__symbol, .dropdown-container .selection, .dropdown-container .moreOptions, .dropdown-container .settings, .refresh .emailViews, .refresh .refresh__symbol, .refresh .selection, .refresh .moreOptions, .refresh .settings, .pages .emailViews, .pages .refresh__symbol, .pages .selection, .pages .moreOptions, .pages .settings, .languageConfig .emailViews, .languageConfig .refresh__symbol, .languageConfig .selection, .languageConfig .moreOptions, .languageConfig .settings {
  display: inline-block;
  height: 60%;
  width: 80%;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.5rem 0 0 -40%;
}
/* line 64, ../partials/_SubNav.scss */
.dropdown-container:hover, .refresh:hover, .pages:hover, .languageConfig:hover {
  cursor: pointer;
}

/* line 69, ../partials/_SubNav.scss */
.emailViews div, .selection div, .moreOptions div, .settings div {
  display: inline-block;
}

/* line 73, ../partials/_SubNav.scss */
.refresh, .settings span {
  font-size: 1.50rem;
}

/* line 80, ../partials/_SubNav.scss */
.drop__focus {
  background: gold;
  cursor: default;
}

/* line 85, ../partials/_SubNav.scss */
.dropdownContent {
  background: gold;
  box-sizing: border-box;
  border: 2px solid grey;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
  font-size: 0.90rem;
  line-height: 0.5rem;
  text-align: left;
  position: absolute;
  top: 2.3rem;
  z-index: 5;
  cursor: default;
}

/* line 103, ../partials/_SubNav.scss */
.emailViews__dropdown {
  left: -2px;
}
/* line 106, ../partials/_SubNav.scss */
.emailViews__dropdown ol {
  padding: 0;
}
/* line 109, ../partials/_SubNav.scss */
.emailViews__dropdown ol li {
  padding: 0.5rem;
  padding-right: 3rem;
}
/* line 113, ../partials/_SubNav.scss */
.emailViews__dropdown ol li:hover {
  background: rgba(255, 255, 0, 0.8);
  cursor: pointer;
}

/* line 121, ../partials/_SubNav.scss */
.moreOptions__dropdown {
  left: -2px;
}
/* line 124, ../partials/_SubNav.scss */
.moreOptions__dropdown ol {
  padding: 0;
}
/* line 127, ../partials/_SubNav.scss */
.moreOptions__dropdown ol li {
  padding: 0.5rem;
  padding-right: 7rem;
  white-space: nowrap;
}
/* line 132, ../partials/_SubNav.scss */
.moreOptions__dropdown ol li:hover {
  background: rgba(255, 255, 0, 0.8);
  cursor: pointer;
}

/* line 140, ../partials/_SubNav.scss */
.selection__dropdown {
  left: -2px;
}
/* line 143, ../partials/_SubNav.scss */
.selection__dropdown ol {
  padding: 0;
}
/* line 146, ../partials/_SubNav.scss */
.selection__dropdown ol li {
  padding: 0.5rem;
  padding-right: 2rem;
  white-space: nowrap;
}
/* line 151, ../partials/_SubNav.scss */
.selection__dropdown ol li:hover {
  background: rgba(255, 255, 0, 0.8);
  cursor: pointer;
}

/* line 158, ../partials/_SubNav.scss */
.pages {
  position: relative;
  height: 2.35rem;
  width: 9rem;
  font-size: 1.02rem;
  padding: 0;
  margin: 0 1% 0 0;
}
/* line 167, ../partials/_SubNav.scss */
.pages .pageSort, .pages .pagination {
  display: inline-block;
  height: 100%;
}
/* line 172, ../partials/_SubNav.scss */
.pages .pageSort {
  float: left;
  width: 70%;
}
/* line 177, ../partials/_SubNav.scss */
.pages .pageSort span {
  display: inline-block;
  height: 100%;
}
/* line 181, ../partials/_SubNav.scss */
.pages .pageSort span span {
  height: 50%;
}
/* line 188, ../partials/_SubNav.scss */
.pages .pagination {
  background: red;
  float: left;
  width: 30%;
  vertical-align: middle;
}
/* line 194, ../partials/_SubNav.scss */
.pages .pagination .progressArrow {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  border: 3px solid grey;
  text-align: center;
}
/* line 204, ../partials/_SubNav.scss */
.pages .pagination .progressArrow-prev p, .pages .pagination .progressArrow-next p {
  position: absolute;
  top: 50%;
  margin-top: -50%;
}
/* line 210, ../partials/_SubNav.scss */
.pages .pagination .progressArrow-prev p {
  left: 1px;
}
/* line 214, ../partials/_SubNav.scss */
.pages .pagination .progressArrow-next p {
  left: 3px;
}

/* line 220, ../partials/_SubNav.scss */
.languageConfig {
  display: inline-block;
  height: 2.5rem;
  border: none;
  margin: 0 2%;
  padding: 0;
  width: auto;
}
/* line 228, ../partials/_SubNav.scss */
.languageConfig:hover {
  cursor: default;
}
/* line 231, ../partials/_SubNav.scss */
.languageConfig .checky {
  box-sizing: border-box;
  position: relative;
  display: block;
  border: 1px solid grey;
  height: 100%;
  width: 3rem;
  padding: 0;
  margin: 0;
  float: left;
  font-size: 1.25rem;
}
/* line 243, ../partials/_SubNav.scss */
.languageConfig .checky:hover {
  cursor: pointer;
}
/* line 247, ../partials/_SubNav.scss */
.languageConfig .checky span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.625rem 0 0 -0.88rem;
}
/* line 254, ../partials/_SubNav.scss */
.languageConfig .dropdown-container {
  box-sizing: border-box;
  top: auto;
  height: 100%;
  width: 1rem;
  margin: 0;
  padding: 0;
}
/* line 266, ../partials/_SubNav.scss */
.languageConfig .dropdown-container .inputTools {
  position: relative;
  height: 100%;
  padding: 0;
}
/* line 271, ../partials/_SubNav.scss */
.languageConfig .dropdown-container .inputTools span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.40rem 0 0 -0.31rem;
}

/* line 282, ../partials/_SubNav.scss */
.inputTools__dropdown {
  right: -2px;
  line-height: 1.2rem;
}
/* line 286, ../partials/_SubNav.scss */
.inputTools__dropdown li {
  padding: 0.5rem;
  padding-right: 4rem;
  white-space: nowrap;
}
/* line 291, ../partials/_SubNav.scss */
.inputTools__dropdown li:hover {
  background: rgba(255, 255, 0, 0.8);
  cursor: pointer;
}

/* line 298, ../partials/_SubNav.scss */
.subNav__right .dropdown-container:last-child {
  margin-right: 0;
}

/* line 301, ../partials/_SubNav.scss */
.settings__dropdown {
  right: -2px;
  line-height: 1.2rem;
}
/* line 305, ../partials/_SubNav.scss */
.settings__dropdown ol li:nth-child(4) {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
/* line 310, ../partials/_SubNav.scss */
.settings__dropdown ol li:nth-child(7) {
  margin-top: 1.5rem;
}
/* line 314, ../partials/_SubNav.scss */
.settings__dropdown li {
  padding: 0.5rem;
  padding-right: 4rem;
  white-space: nowrap;
}
/* line 319, ../partials/_SubNav.scss */
.settings__dropdown li:hover {
  background: rgba(255, 255, 0, 0.8);
  cursor: pointer;
}

/* line 1, ../partials/_VerticalList.scss */
.verticalList {
  height: auto;
  width: 70%;
  margin: auto;
}
/* line 6, ../partials/_VerticalList.scss */
.verticalList ol {
  height: 100%;
  width: 100%;
}
/* line 11, ../partials/_VerticalList.scss */
.verticalList ol li {
  width: 80%;
  margin-top: .5rem;
}
/* line 15, ../partials/_VerticalList.scss */
.verticalList ol li:hover {
  background: #aeeaad;
  cursor: pointer;
}
/* line 21, ../partials/_VerticalList.scss */
.verticalList ol li:nth-child(1) {
  color: #5cdb7b;
}

/* line 14, ../sass/screen.scss */
body {
  height: 100%;
  width: 100%;
  min-width: 800px;
  background: #ddd;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
