@import "compass/reset";

// Partials
@import "../partials/Header.scss";
@import "../partials/SubNav.scss";
@import "../partials/Sidebar.scss";
@import "../partials/EmailBlock.scss";

@import "../partials/SearchForm.scss";
@import "../partials/VerticalList.scss";
@import "../partials/Button.scss";


body {
    height: 100%;
    width: 100%;
    min-width: 800px;
    background: #ddd;
}
