@import "compass/reset";

// Partials
@import "../partials/Button.scss";
@import "../partials/Dropdown.scss";
@import "../partials/EmailBlock.scss";
@import "../partials/Header.scss";
@import "../partials/SearchForm.scss";
@import "../partials/Sidebar.scss";
@import "../partials/SubNav.scss";
@import "../partials/VerticalList.scss";


body {
    height: 100%;
    width: 100%;
    min-width: 800px;
    background: #ddd;

    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
