.FOOgly {
    height: 100%;
    width: auto;
    overflow: hidden;
    z-index: 1;
}

.mainBlock {
    background: gold;
    height: auto;
    min-height: 40%;
}
//TODO: Compute in Mysql query n amount of letters to preview body
.emailList {
    width:100%;
    table-layout:fixed;
    white-space: nowrap;
    border-collapse: collapse;
    colgroup {
        .select {
            // background: yellow;
            width: 2em;
        }
        .emailName {
            width: 12em;;
        }
        .emailTitle {
            width: 100%;
        }
        .whiteSpace {
            width: 7em;
        }
        .dateTag {
            width: 10em;

        }
    }

    tbody .email {
            background: none;
            color: green;
            border-bottom: thin solid green;
            cursor: pointer;
            td {
                text-align: center;
            }

            .email-title-body {
                overflow: hidden;
                span:nth-child(2) {
                    color: grey;
                    opacity: .4;
                }
            }
    }
}
