@import '../mixins/dropdownMixin';

.header {
    background: blue;
    height: 4rem;
    width: 100%;

    .logo {
        background: red;
        height: 100%;
        width:12rem;
        float: left;

        div {
            background: #fff;
            height: inherit;
            width: 60%;
            margin: auto;
        }
    }

}

.navRight {
    background: red;
    position: relative;
    height: 100%;
    width: 12rem;
    float: right;
}

.dropdown-group {
    height: 80%;
    width: 80%;
    position: absolute;
    display: block;
    top: 25%;
    left: 10%;
    margin: auto;
    // padding-right: 10%;
}

.dropdown {
    @include Centered_Box(0 2%);
    float: right;
}
