.sideBar {
    width:200px;
    float: left;
}

.sideBar__button, .verticalList {
    width: 70%;
    margin: auto;
}

.sideBar__button {
    height: 33px;
    button[name="compose"] {
        height: 100%;
        width: 100%;
    }
}

.sideBar__currentSelection {
    color: #5cdb7b;
    border-left: 7px solid #5cdb7b;
}

.sideBar__item {
    width: auto;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    &:hover {
        background: #aeeaad;
        cursor: pointer;
    }
}
