@import "../mixins/dropdownMixin";

.subNav {
    height: 3.5rem;
    position: relative;
    width: 100%;
    background: green;

    .subNav__left, .subNav__right {
        background: #eee;
        position: relative;
        height: 100%;
        // overflow:hidden;
    }
    .subNav__left {
        width: 30rem;
        float: left;
    }
    .subNav__right {
        width: 20rem;
        float: right;
    }
}

.dropdown-container, .refresh {
    display: inline-block;
    position: relative;
    float: left;
    height: 2rem;
    width: 5rem;
    border: 1px solid grey;
    font-size: .8rem;
    padding: 3px;
    top: 15%;

    .emailViews, .selection, .moreOptions, .inputTools, .settings {
        // background: orange;
        display: inline-block;
        height: 60%;
        width: 80%;
        text-align: center;
        vertical-align: middle;

        position: absolute;
        top: 50%;
        left: 50%;
        margin: -15% 0 0 -40%;
    }
    &:hover {
        cursor: pointer;
    }
}

.drop__focus {
    background: gold;
    cursor: default
}


// DropDown rules
.dropdownContent {
    background: gold;
    border: 2px solid grey;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);

    font-size: 0.90rem;
    line-height: 0.5rem;
    text-align: left;

    position: absolute;
    top: 2rem;

    z-index: 5;
    cursor: default;

}

.emailViews__dropdown {
    right: -35px;

    ol {
        padding: 0;

        li {
            padding: 0.5rem;
            padding-right: 3rem;

            &:hover {
                background: rgba(255, 255, 0, 0.8);
                cursor: pointer;
            }
        }
    }
}

.moreOptions__dropdown {
    right: -148px;

    ol {
        padding: 0;

        li {
            padding: 0.5rem;
            padding-right: 7rem;
            white-space: nowrap;

            &:hover {
                background: rgba(255, 255, 0, 0.8);
                cursor: pointer;
            }
        }
    }
}

.selection__dropdown {
    right: -29px;

    ol {
        padding: 0;

        li {
            padding: 0.5rem;
            padding-right: 2rem;
            white-space: nowrap;

            &:hover {
                background: rgba(255, 255, 0, 0.8);
                cursor: pointer;
            }
        }
    }
}
