.sideBar {
    background: violet;
    height: 100%;
    width:200px;
    float: left;
}

.sideBarButton, .verticalList {
    width: 70%;
    margin: auto;
}

.sideBarButton {
    height: 33px;
    button[name="compose"] {
        height: 100%;
        width: 100%;
    }
}

.sideBarSelected {
    color: #5cdb7b;
    border-left: 7px solid darken(#5cdb7b, 20%);
}

.sideBarItem {
    width: auto;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    &:hover {
        cursor: pointer;
    }
}

.highlightable:hover {
    background: #aeeaad;
}
