// Partials
@import "../js/Components/Button/Button";
@import "../js/Components/DisplayBlock/DisplayBlock";
@import "../js/Components/DropDown/DropDown";
@import "../js/Components/ExpandCollapse/ExpandCollapse";
@import "../js/Components/Footer/Footer";
@import "../js/Components/Header/Header";
@import "../js/Components/Form/Form";
@import "../js/Components/Sidebar/Sidebar";
@import "../js/Components/SubNav/SubNav";

body {
    width: 100%;
    min-width: 800px;
    background: #ddd;

    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body, html {
    height: 100%;
}

#root {
    height: 100%;
    overflow: hidden;
}
