// Partials
@import "../js/Components/Button/Button";
@import "../js/Components/DisplayBlock/DisplayBlock";
@import "../js/Components/DropDown/DropDown";
@import "../js/Components/ExpandCollapse/ExpandCollapse";
@import "../js/Components/Footer/Footer";
@import "../js/Components/Header/Header";
@import "../js/Components/Form/Form";
@import "../js/Components/Sidebar/Sidebar";
@import "../js/Components/SubNav/SubNav";

body {
    width: 100%;
    max-width: 2000px;
    min-width: 1200px;
    background: #ddd;

    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body, html {
    height: 100%;
    min-height: 100%;
}

#root {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: repeat(2, 60px) 1fr;
}
