// Partials
@import "../js/Components/Button/Button.scss";
@import "../js/Components/DisplayBlock/DisplayBlock.scss";
@import "../js/Components/DropDown/DropDown.scss";
@import "../js/Components/Footer/Footer.scss";
@import "../js/Components/Header/Header.scss";
@import "../js/Components/SearchForm/SearchForm.scss";
@import "../js/Components/Sidebar/Sidebar.scss";
@import "../js/Components/SubNav/SubNav.scss";

body {
    width: 100%;
    min-width: 800px;
    background: #ddd;

    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body, html {
    height: 100%;
}

#root {
    height: 100%;
    overflow: hidden;
}
