@import "../../../css/variables/Colors";

.subNav {
    height: 56px;
    position: relative;
    white-space: nowrap;
    border-top: solid thin green;
    border-bottom: solid thin green;
}

.subNavPiece {
    position: relative;
    height: 100%;
    white-space: nowrap;
}

.subNavLeft {
    float: left;
    margin-left: 27px;
    padding-right: 22px;
    .subNavContainer:first-child {
        margin-right: 40px;
    }
}

.subNavRight {
    float: right;
    margin-right: 2%;
    padding-right: 12px;
    .subNavContainer:last-child {
        margin-right: 0;
    }
}

.subNavDropDown, .refresh, .pages, .languageConfig  {
    background: #fff;
    box-sizing: border-box;
    height: 70%;
    width: 80px;
    border: 1px solid grey;
    margin: 0 1%;
    &.dropdown__focus {
        background: $dropDown_Background;
    }
}

.refresh, .pages, .languageConfig {
    display: inline-block;
    position: relative;
    &:hover {
        cursor: pointer;
    }
}

.emailViewsTrigger, .refresh__symbol, .selectionTrigger, .moreOptionsTrigger,
.settingsTrigger {
    display: inline-block;
    position: absolute;
    height: 60%;
    width: 80%;
    text-align: center;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -40%;
    div {
        display: inline-block;
    }
}

.refresh, .settings span {
    font-size: 1.5em;
}

////
//
//DropDown rules
.emailViewsContent, .selectionContent, .moreOptionsContent,
.inputToolsContent, .settingsContent {
    ol li {
        &:hover {
            background: $dropDown_Background__hover;
            cursor: pointer;
        }
    }
}

.emailViewsContent, .selectionContent, .moreOptionsContent {
    left: -2px;
    ol li {
        padding: 8px;
        padding-right: 65px;
    }
}

.moreOptionsContent {
    ol li {
            padding-right: 110px;
        }
}

.inputToolsContent, .settingsContent {
    right: -2px;
    ol li {
        padding: 8px;
        padding-right: 65px;
    }
}

.settingsContent {
    ol li {
        padding-right: 52px;
        &:nth-child(4), &:nth-child(7) {
            margin-top: 24px;
        }

        &:nth-child(4) {
            margin-bottom: 24px;
        }
    }
}

.pages, .languageConfig {
    border: none;
    float: left;
}

.pages {
    width: 150px;
    .pageSort, .pagination {
        display: inline-block;
        height: 100%;
        box-sizing: border-box;
    }

    .pageSort {
        width: 70%;
        border: 1px solid grey;
        margin-right: -1px;
    }

    .pagination {
        width: 30%;
        .progressArrow {
            display: inline-block;
            box-sizing: border-box;
            height: 100%;
            width: 50%;
            border: 1px solid grey;
            margin-right: -1px;
            &:last-child {
                margin: 0;
            }
        }
    }
}

.languageConfig {
    width: 70px;
    .virtualKeyboard, .subNavDropDown {
        display: inherit;
        box-sizing: border-box;
        height: 100%;
        border: 1px solid grey;
        float: left;
    }

    .virtualKeyboard {
        width: 70%;
        margin-right: -1px;
    }

    .subNavDropDown {
        width: 30%;
    }
}
