@import "../../../css/variables/Colors";

.subNav {
    display: flex;
    justify-content: space-between;
    border-top: solid thin green;
    border-bottom: solid thin green;
    grid-column: span 2;
}

.subNavLeft {
    width: 32.5rem;
    .subNavDropDown {
        margin: 0 1rem;
        &:first-of-type {
            margin-right: auto;
            margin-left: 2.2rem;
        }
    }
}

.subNavPiece {
    min-width: 22rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.subNavDropDown, .refresh, .pages, .languageConfig  {
    background: #fff;
    box-sizing: border-box;
    height: 70%;
    width: 80px;
    border: 1px solid grey;
    &:hover {
        cursor: pointer;
    }
}

.pages, .languageConfig {
    display: flex;
    justify-content: center;
    align-items: center;
}

.emailViewsTrigger, .selectionTrigger, .refreshSymbol, .moreOptionsTrigger,
.settingsTrigger {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
        display: inline-block;
    }
}

.refresh, .settings span {
    font-size: 1.5em;
}

////
//
//DropDown rules
.emailViewsContent, .selectionContent, .moreOptionsContent,
.inputToolsContent, .settingsContent {
    ol li {
        list-style-type: none;
        &:hover {
            background: $dropDown_Background__hover;
            cursor: pointer;
        }
    }
}

.emailViewsContent, .selectionContent, .moreOptionsContent {
    left: -2px;
    ol li {
        padding: 8px;
        padding-right: 65px;
    }
}

.moreOptionsContent {
    ol li {
            padding-right: 110px;
        }
}

.inputToolsContent, .settingsContent {
    right: -2px;
    ol li {
        padding: 8px;
        padding-right: 65px;
    }
}

.settingsContent {
    ol li {
        padding-right: 52px;
        &:nth-child(4), &:nth-child(7) {
            margin-top: 24px;
        }

        &:nth-child(4) {
            margin-bottom: 24px;
        }
    }
}

.pages, .languageConfig {
    border: none;
    float: left;
}

.pages {
    width: 150px;
    .pageSort, .pagination {
        display: inline-block;
        height: 100%;
        box-sizing: border-box;
    }

    .pageSort {
        width: 70%;
        border: 1px solid grey;
        margin-right: -1px;
    }

    .pagination {
        width: 30%;
        .progressArrow {
            display: inline-block;
            box-sizing: border-box;
            height: 100%;
            width: 50%;
            border: 1px solid grey;
            margin-right: -1px;
            &:last-child {
                margin: 0;
            }
        }
    }
}

.languageConfig {
    width: 70px;
    .virtualKeyboard, .subNavDropDown {
        display: inherit;
        box-sizing: border-box;
        height: 100%;
        border: 1px solid grey;
        float: left;
    }

    .virtualKeyboard {
        width: 70%;
        margin-right: -1px;
    }

    .subNavDropDown {
        width: 30%;
    }
}
