.header {
    display: grid;
    grid-template-columns: 180px 1fr 180px;
    grid-template-rows: 1fr;
    grid-column: span 2;
}

.navPiece {
    background: orange;
}

.navLeft {
    div {
        background: #fff;
        height: inherit;
        width: 60%;
        margin: auto;
    }
}

.navRight {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerForm {
    background: red;
    display: flex;
    width: auto;
    justify-content: flex-start;
    align-items: center;
    form {
        display: grid;
        grid-template-columns: auto 3rem;
        grid-template-rows: 2.5rem;
        min-width: 60%;
        width: auto;
    }
}

.headerSearchFormGroup {
    display: inline-block;
    input {
        box-sizing: border-box;
        height: 100%;
        width: 100%;
    }
}

.headerDropDown {
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    border: 3px solid #000;
    border-radius: 50%;
    & > .profileIcon {
        border: none;
    }
}

.additionalAppsTrigger, .notificationsTrigger, .profileMenuTrigger {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
}


.additionalAppsContent, .notificationsContent {}

.profileMenuContent {
    display: flex;
    flex-flow: column nowrap;
    top: 3rem;
    right: 0;
    white-space: nowrap;
    padding: 0 1rem;
    font-size: 1em;
}

.profileSection {
    flex: 1;
    border-bottom: 1px double darken($dropDown_Background, 20%);
    line-height: 25px;
    &:last-child {
        border-bottom: none;
    }
}

.profilePrimary .profile {
    justify-content: space-between;
    padding: 1rem 0;
    box-sizing: border-box;
}

.profileAdditional {
    display: flex;
    flex-flow: column nowrap;
    .profile {
        border-bottom: 2px dotted darken($dropDown_Background, 20%);
        &:last-child {
            border-bottom: none;
        }
    }
}

.profile {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: start;
    align-items: center;
    &:hover {
        background: $dropDown_Background__hover;
        cursor: pointer;
    }

    span .profileName {
        font-weight: bolder;
    }
}

.profileIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    img {
        width: 100%;
    }
}

.iconLarge {
    height: 9rem;
    width: 9rem;
}

.iconMedium {
    height: 6rem;
    width: 6rem;
}

.iconSmall {
    height: 3rem;
    width: 3rem;
}
