{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<h1>LABEL!</h1>
{% if emails is defined %}
    {% for email in emails %}
        <pre>{{ email }}</pre>
    {% endfor %}
{% endif %}
{% endblock %}
